@import url(./reset.css);

body {
  margin-top: 50px;
  box-sizing: border-box;
  font-family: "Roboto";
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.main-content {
  width: 1366px;
  margin: 0 auto;
  background-image: url(../images/backgraund.png);
}
.wrapper {
  width: 1044px;

  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;

  padding-top: 46px;
  padding-bottom: 22px;
}

.logo-link {
  display: flex;
}
.image-wrapper {
  width: 53px;
  height: 47px;
  position: relative;
}
.logo-link-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-link-image-orange {
  display: none;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-link:hover {
  color: rgba(242, 101, 34, 1);
}
.logo-link:hover .logo-link-image-orange {
  display: block;
}
.logo-name {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}
.logo-name-one {
  font-weight: 700;
  font-size: 29px;
}
.logo-name-two {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post {
  font-weight: 400;
  font-size: 18px;
}
.post:hover {
  color: #f26522;
}
.link-phone {
  display: flex;
  justify-content: end;
  font-weight: 400;
  font-size: 18px;
}
.link-phone:hover {
  color: #f26522;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  row-gap: 37px;
  padding-bottom: 49px;
}
.image-container {
  width: 300px;
  box-sizing: border-box;
}
.image-box {
  position: relative;
  width: 300px;
  height: 220px;
}
.image {
  display: block;
  width: 100%;
}

.image-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: #f26522;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.image-container:hover .image-info {
  opacity: 1;
}

.image-container:hover .image-link {
  color: #f26522;
  transition: color 0.4s ease-in-out;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}
.from {
  font-size: 10px;
  padding-top: 7px;
}
.euro {
  font-size: 20px;
  padding-bottom: 12px;
}
.details {
  font-weight: 400;
  font-size: 14px;
  padding-top: 29px;
  padding-right: 14px;
}
.details::after {
  content: "\003E";
  padding-left: 16px;
}
.image-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
}
.footer {
  text-align: center;
  padding-bottom: 15px;
}
